MVC/vendor
State/vendor
Strategy/vendor
Mediator/vendor
Iterator/vendor
CoR/vendor
TemplateMethod/vendor
Memento/vendor
Visitor/vendor
Adapter/vendor
Bridge/vendor
Composite/vendor
Decorator/vendor
Facade/vendor
.idea